@font-face {
  font-family: "Krart";
  src: url("../fonts/krart/krart-black.woff2") format("woff2"), url("../fonts/krart/krart-black.woff") format("woff"), url("../fonts/krart/krart-black.otf") format("opentype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Krart";
  src: url("../fonts/krart/krart-bold.woff2") format("woff2"), url("../fonts/krart/krart-bold.woff") format("woff"), url("../fonts/krart/krart-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400; }

body {
  background: url("../img/background.jpg") repeat center 0; }

img {
  max-width: 100%;
  height: auto; }

button:focus {
  outline: none; }

.container {
  max-width: 600px; }

.tops-welcome {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1f1f1f;
  z-index: 10; }
  .tops-welcome h2 {
    margin: 0;
    padding: 15px 0;
    color: #fff;
    font-family: 'Krart', 'sans-serif';
    font-size: 23px;
    line-height: 40px; }

.tops-highlight {
  padding: 100px 0 30px; }
  .tops-highlight .tops-card {
    -webkit-perspective: 614px;
    perspective: 614px; }
    .tops-highlight .tops-card.disabled {
      pointer-events: none; }

.clear {
  clear: both; }

.tops-condition .title {
  margin-left: -15px;
  margin-bottom: 22px;
  display: inline-block;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #C62662;
  font-family: 'Krart', 'sans-serif';
  font-size: 24px;
  font-weight: 700;
  background: #f2bf26;
  background: -moz-linear-gradient(left, #f2bf26 0%, #e5ce80 25%, #fff2c3 45%, #e5ce80 76%, #ba892e 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #f2bf26), color-stop(25%, #e5ce80), color-stop(45%, #fff2c3), color-stop(76%, #e5ce80), color-stop(100%, #ba892e));
  background: -webkit-linear-gradient(left, #f2bf26 0%, #e5ce80 25%, #fff2c3 45%, #e5ce80 76%, #ba892e 100%);
  background: -o-linear-gradient(left, #f2bf26 0%, #e5ce80 25%, #fff2c3 45%, #e5ce80 76%, #ba892e 100%);
  background: -ms-linear-gradient(left, #f2bf26 0%, #e5ce80 25%, #fff2c3 45%, #e5ce80 76%, #ba892e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#f2bf26), color-stop(25%, #e5ce80), color-stop(45%, #fff2c3), color-stop(76%, #e5ce80), to(#ba892e));
  background: linear-gradient(to right, #f2bf26 0%, #e5ce80 25%, #fff2c3 45%, #e5ce80 76%, #ba892e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bf26', endColorstr='#ba892e', GradientType=1 ); }
  .tops-condition .title a {
    display: inline-block;
    padding: 7px 15px;
    color: #C62662;
    text-decoration: none; }

.tops-condition .promo .item {
  margin-bottom: 22px; }
  .tops-condition .promo .item a {
    display: block; }
  .tops-condition .promo .item img {
    width: 100%; }

.tops-credits {
  margin-bottom: 22px; }

.tops-footer {
  background-color: #1f1f1f;
  text-align: center; }
  .tops-footer img {
    margin: 0;
    padding: 15px 0;
    color: #fff; }

.modal-body ul {
  padding: 0 0 0 15px; }

.owl-theme .owl-dots .owl-dot span {
    background: #fff; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #d3005d; }