@font-face {
    font-family:"Krart";
    src:url("../fonts/krart/krart-black.woff2") format("woff2"),url("../fonts/krart/krart-black.woff") format("woff"),url("../fonts/krart/krart-black.otf") format("opentype");
    font-style:normal;font-weight:700;
}

@font-face {
    font-family:"Krart";
    src:url("../fonts/krart/krart-bold.woff2") format("woff2"),url("../fonts/krart/krart-bold.woff") format("woff"),url("../fonts/krart/krart-bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}

body {
    background: url('../img/background.jpg') repeat center 0;
}

img {
    max-width: 100%;
    height: auto;
}

button:focus {
    outline: none;
}

.container {
    max-width: 600px;
}

.tops-welcome {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1f1f1f;
    z-index: 10;
    h2 {
        margin: 0;
        padding: 15px 0;
        color: #fff;
        font-family: 'Krart', 'sans-serif';
        font-size: 23px;
        line-height: 40px;
    }
}

.tops-highlight {
    padding: 100px 0 30px;
    .tops-card {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
    }
    
    .tops-card.is-flipped {
        transform: rotateY(180deg);
    }
    
    .tops-card__face {
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        font-weight: bold;
        backface-visibility: hidden;
    }
    
    .tops-card__face--front {
    }
    
    .tops-card__face--back {
        transform: rotateY(180deg);
    }
}

.tops-condition {
    .title {
        margin-left: -15px;
        margin-bottom: 22px;
        padding: 7px 15px;
        display: inline-block;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #C62662;
        font-family: 'Krart', 'sans-serif';
        font-size: 24px;
        font-weight: 700;
        background: rgba(242,191,38,1);
        background: -moz-linear-gradient(left, rgba(242,191,38,1) 0%, rgba(229,206,128,1) 25%, rgba(255,242,195,1) 45%, rgba(229,206,128,1) 76%, rgba(186,137,46,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,191,38,1)), color-stop(25%, rgba(229,206,128,1)), color-stop(45%, rgba(255,242,195,1)), color-stop(76%, rgba(229,206,128,1)), color-stop(100%, rgba(186,137,46,1)));
        background: -webkit-linear-gradient(left, rgba(242,191,38,1) 0%, rgba(229,206,128,1) 25%, rgba(255,242,195,1) 45%, rgba(229,206,128,1) 76%, rgba(186,137,46,1) 100%);
        background: -o-linear-gradient(left, rgba(242,191,38,1) 0%, rgba(229,206,128,1) 25%, rgba(255,242,195,1) 45%, rgba(229,206,128,1) 76%, rgba(186,137,46,1) 100%);
        background: -ms-linear-gradient(left, rgba(242,191,38,1) 0%, rgba(229,206,128,1) 25%, rgba(255,242,195,1) 45%, rgba(229,206,128,1) 76%, rgba(186,137,46,1) 100%);
        background: linear-gradient(to right, rgba(242,191,38,1) 0%, rgba(229,206,128,1) 25%, rgba(255,242,195,1) 45%, rgba(229,206,128,1) 76%, rgba(186,137,46,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2bf26', endColorstr='#ba892e', GradientType=1 );
    }
    .promo {
        .item {
            margin-bottom: 22px;
            a {
                display: block;
            }
            img {
                width: 100%;
            }
        }
    }
}

.tops-credits {
    margin-bottom: 22px;
}

.tops-footer {
    background-color: #1f1f1f;
    text-align: center;
    img {
        margin: 0;
        padding: 15px 0;
        color: #fff;
    }
}