
@font-face {
    font-family:"Krart-Bold";
    src:url("KRARTํ™bold.woff2") format("woff2"),url("KRARTํ™bold.woff") format("woff"),url("KRARTํ™bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        