
@font-face {
    font-family:"Krart-Black";
    src:url("KRARTํ™black.woff2") format("woff2"),url("KRARTํ™black.woff") format("woff"),url("KRARTํ™black.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        